In [1]:
from pycorenlp import StanfordCoreNLP

In [8]:
nlp = StanfordCoreNLP('http://localhost:9000')

text = "This movie was actually neither that funny, nor super witty. The movie was meh. I liked watching that movie. If I had a choice, I would not watch that movie again."

results = nlp.annotate(text,properties={
        'annotators':'sentiment, ner, pos',
        'outputFormat': 'json',
        'timeout': 50000,
        })

#for s in results["sentences"]:
#    print("{} : {}".format(" ".join(t["word"] for t in s["tokens"]),s["sentiment"]))

#for s in results["sentences"]:
#    print("%d: '%s': %s %s" % (
#        s["index"],
#        " ".join([t["word"] for t in s["tokens"]]),
#        s["sentimentValue"], s["sentiment"]))
    
sentimentList = []

for s in results["sentences"]:
    sentimentList.append(int(s["sentimentValue"]))
    #print("%s" % (s["sentimentValue"]))
    
print(sentimentList)
    
    
#java -mx6g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -timeout 50000
#java -mx4g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -port 9000 -timeout 15000

[2, 2, 3, 1]

In [1]:
import numpy as np
import pandas as pd
import numpy.random as rd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn import model_selection

In [2]:
data = pd.read_csv(r"C:\Users\tilwa\majorproject\data\sentimental_analysis\elonmusk.csv")

In [3]:
data

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1282939902531796993,1282933079431151618,1594711683000,2020-07-14,07:28:03,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
1,1282844872571904000,1282801938111791104,1594689026000,2020-07-14,01:10:26,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
2,1282805559834492929,1282758532312584193,1594679653000,2020-07-13,22:34:13,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
3,1282800187308572672,1282671714657157120,1594678372000,2020-07-13,22:12:52,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
4,1282800078000803840,1282739486816964615,1594678346000,2020-07-13,22:12:26,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,564563818022313984,564563818022313984,1423437477000,2015-02-08,23:17:57,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk'}]",NaN,NaN,NaN,NaN
9282,564562686478807043,564562686478807043,1423437208000,2015-02-08,23:13:28,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk'}]",NaN,NaN,NaN,NaN
9283,564509965612634112,564509965612634112,1423424638000,2015-02-08,19:43:58,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk'}]",NaN,NaN,NaN,NaN
9284,564493608351313921,564493608351313921,1423420738000,2015-02-08,18:38:58,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk'}]",NaN,NaN,NaN,NaN
9285,561002248827052034,561002248827052034,1422588333000,2015-01-30,03:25:33,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk'}]",NaN,NaN,NaN,NaN

In [4]:
Row_list =[] 
#Row_list1 = []

# Iterate over each row 
for index, rows in data.iterrows(): 
    # Create list for the current row 
    my_list =[rows['date'], rows['tweet']] 
    
    # append the list to the final list 
    Row_list.append(my_list)
    
print(Row_list[:10])
print(len(Row_list))

[['2020-07-14', 'Cute'], ['2020-07-14', 'Wow'], ['2020-07-13', 'Reusability is essential. A rocket that is single use is just as absurd as a single use airplane. F9 engines already fire 3 times per flight.'], ['2020-07-13', 'Wild times!'], ['2020-07-13', 'We’re being extra paranoid. Maximizing probability of successful launch is paramount.'], ['2020-07-13', 'Welcome anytime'], ['2020-07-13', 'Well, I do care very much about sustainability of civilization, but there is some truth to the irony part haha'], ['2020-07-13', 'Yes, in plan. Superchargers and public high power wall connectors will keep growing exponentially every year.'], ['2020-07-13', '👀'], ['2020-07-13', 'I think so']]
9286

In [15]:
from datetime import datetime

date_str = '2015-01-01'
date_format = '%Y-%m-%d'
date = datetime.strptime(date_str, date_format)

# just change the day
date = date.replace(day=2)

In [16]:
date

datetime.datetime(2015, 1, 2, 0, 0)

In [14]:
tweet_per_date = []
count = 0

for row in Row_list:
    tweet_per_date.append(row[1])
    
    tweet_per_date.split([','])
    
print(tweet_per_date[:10])

AttributeError: 'list' object has no attribute 'split'

In [2]:
import twint

In [4]:
c = twint.Config()
c.Username = "now"
c.Search = "fruit"

# Run
twint.run.Search(c)

RuntimeError: This event loop is already running

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 343.0 secs
CRITICAL:root:twint.get:User:
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 512.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 729.0 secs

In [5]:
def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0) [x] run.Feed[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

In [ ]:
lst = ['a', 1, 'b', 2, 'c', 3]
print(Convert(lst))

In [1]:
import re
import tweepy
from tweepy import OAuthHandler
from textblob import TextBlob

In [5]:
class TwitterClient(object):
	def __init__(self):
		consumer_key = 'r985zZRLvQ2i2ZWDJ3AD1ZFOa'
		consumer_secret = 'V88sSIEiJSLaYGcJtxwsIZ8puOEiAW1N0jo04cEWF60dQn7PYV'
		access_token = '837034976629698563-W74gJOobZEMAlfHDcDNC8ojL4aKHZza'
		access_token_secret = 'fKAWAvSmXYHMEizufpVDoeOriBJB2cuIqVMnVZqbXnwlP'
		try:
			self.auth = OAuthHandler(consumer_key, consumer_secret)
			self.auth.set_access_token(access_token, access_token_secret)
			self.api = tweepy.API(self.auth)
		except:
			print("Error: Authentication Failed")

	def clean_tweet(self, tweet):
		return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

	def get_tweet_sentiment(self, tweet):
		analysis = TextBlob(self.clean_tweet(tweet))
		if analysis.sentiment.polarity > 0:
			return 'positive'
		else:
			return 'negative'

	def get_tweets(self, query, count = 10):
		tweets = []

		try:
			fetched_tweets = self.api.search(q = query, count = count)
			for tweet in fetched_tweets:
				parsed_tweet = {}

				parsed_tweet['text'] = tweet.text
				parsed_tweet['sentiment'] = self.get_tweet_sentiment(tweet.text)

				if tweet.retweet_count > 0:
					if parsed_tweet not in tweets:
						tweets.append(parsed_tweet)
				else:
					tweets.append(parsed_tweet)

			return tweets

		except tweepy.TweepError as e:
			print("Error : " + str(e))


def main():
	api = TwitterClient()
	#print('On which topic you want to fetch the tweet :')
	query=input()
	#print('How many tweets you want to fetch:')
	tweets = api.get_tweets(query, count = int(input()))

	ptweets = [tweet for tweet in tweets if tweet['sentiment'] == 'positive']
	print("Positive tweets percentage for "+query+": {0:.2f}%".format(100*len(ptweets)/len(tweets)))
	ntweets = [tweet for tweet in tweets if tweet['sentiment'] == 'negative']
	print("Negative tweets percentage for "+query+": {0:.2f}%".format(100*len(ntweets)/len(tweets)))


	print("\n\nPositive tweets:")
	for tweet in ptweets[:10]:
		print(tweet['text'])

	print("\n\nNegative tweets:")
	for tweet in ntweets[:10]:
		print(tweet['text'])

if __name__ == "__main__":
    main()

infosys
100000
Positive tweets percentage for infosys: 26.19%
Negative tweets percentage for infosys: 73.81%


Positive tweets:
Can someone explain why Infosys would by 9200 Cr worth of its shares instead of investing in new age startups. How… https://t.co/2ANqU9xsmZ
RT @JstInvestments: Infosys update: Stable

💻 Rev up 13% YoY (10% in cc), 24.5% margins,  net profit up 17%, Strong Cashflows
💻 Digital re…
@AnilSinghvi_ @ZeeBusiness @Infosys @NSEIndia @BSEIndia Anil bhai, please can you share your research team working, its interesting to learn
@AnilSinghvi_ @ZeeBusiness @Infosys @NSEIndia @BSEIndia sir , how much retail investor will benefit ? as it is open market !
RT @Soumyaaawww: People who sold Infosys this monday, standing in front of a mirror right now:-
#infosys https://t.co/jNYMWzfce5
RT @rishi_pania: #Infosys announced it may consider buyback of shares

Me and my bois on monday buying more #Infosys https://t.co/QiN7PH2N…
@Infosys_GSTN @cbic_india ARN AA060321051552Q for New Gst Registration was filed and the notice was issued ZA060421… https://t.co/E9ezaaqYXi
For the full year, Infosys' revenues grew 10.7 per cent to ₹1,00,472 crore for the first time in its history. https://t.co/3r5VtBa9X0
@RDKRupesh @AnilSinghvi_ @ZeeBusiness @Infosys @NSEIndia @BSEIndia Most probably gapup
RT @ambrulz: The #Infosys BuyBack is an open market offer and not a tender offer.

The company can buy its own shares directly from Open M…


Negative tweets:
RT @CNBCTV18Live: #BREAKING | @Infosys' Q4 net profit comes in at Rs 5,076 cr vs CNBC-TV18 poll of Rs 5,130 cr #4QWithCNBCTV18 https://t.co…
@AnilSinghvi_ @ZeeBusiness @Infosys @NSEIndia @BSEIndia Sir final dividend hai.. not interim, year end accounts pe… https://t.co/chXuv8cS4o
RT @timesofindia: Infosys Q4 profit rises 17.5%; announces Rs 9,200 crore share buyback

https://t.co/RI2ZvAwdMm via @TOIBusiness
RT @CNBCTV18Live: #BREAKING | @Infosys board approves a share buyback of up to Rs 9,200 cr at maximum Rs 1,750/sh https://t.co/EaOXqUf8fu
RT @BloombergQuint: Infosys expects FY22 revenue to grow 12-14% in constant currency terms. #Q4WithBQ https://t.co/8rfQ72JJZi
RT @BloombergQuint: Infosys reports U.S. Dollar revenue growth of 3% in Q4. #Q4WithBQ https://t.co/X3FEaVfoY7
Infosys - OPEN MARKET Buyback Approved

Buyback Price : 1,750/-
Last Close Price : 1,397/-

Buyback Size (in ₹) :… https://t.co/fbbxuMX75i
RT @BloombergQuint: Infosys met its revenue and margin guidance for the ongoing fiscal. #Q4WithBQ

https://t.co/tNHh7OtMmo
@scorpion13h @Infosys after 7-8 months
@PankajS60076930 @AnilSinghvi_ @ZeeBusiness @Infosys @NSEIndia @BSEIndia Invest in quality banks and some psu stocks